.button {
  background-color: var(--main-primary-color);
  padding: 12px 24px;
  border: 0;
  border-radius: 30px;
  color: var(--main-bg-color);
  font-weight: 900;
  cursor: pointer;
  border: 2px solid var(--main-primary-color);
  transition: all 0.2s ease;

  &:hover {
    background-color: var(--main-bg-color);
    color: var(--main-primary-color);
    opacity: 0.8;
  }
}
